$ATypesMargin: 20%;

$MBHeight: 60%;
$MaxMBHeight: 550px;
$MBWidth: 65%;
$MaxMBWidth: 900px;

$MColor: rgba(248, 201, 134, 0.856);

.back {
  position: absolute;
  left: 2%;
  top: 2%;

  width: 8%;
  max-width: 100px;

  transition: filter 0.3s ease;

  &:hover {
    filter: drop-shadow(0px 0px 5px rgba(47, 47, 47, 0.856));
  }

  &:active {
    transform: translate(0, 2px);
  }
}

.anekdot {
  width: 70%;
  height: 100vh;

  margin: 0 2% 0 auto;

  position: relative;

  & > div:first-of-type {
    width: 70%;
    max-width: 900px;
    min-height: $MBHeight;

    background-color: $MColor;
    border-radius: 20px;

    position: absolute;
    top: 22%;
    left: 0%;

    @media screen and (max-width: 1500px) {
      top: ($ATypesMargin + 5%);
    }

    & > nav {
      width: 100%;
      height: 15%;

      padding: 2% 10% 4%;

      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        cursor: pointer;
        height: 100%;
        width: 15%;
        opacity: 0.5;

        transition: opacity 0.3s ease;

        &:hover {
          opacity: 1;
        }
      }
    }

    & > div:first-of-type {
      font-family: "Cormorant SC", serif;
      font-weight: 600;

      font-size: 1.2em;
      color: rgb(0, 0, 0);

      line-height: 125%;

      padding: 0% 5% 2%;

      br {
        content: "";
        display: block;
        margin-bottom: 1.8%;
      }
    }
  }

  & > div + div {
    width: 50%;
    max-width: 300px;

    background-color: $MColor;
    border-radius: 20px;

    position: absolute;
    top: 22%;
    left: min(72%, 920px);

    padding: 4% 0% 4% 4%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @media screen and (max-width: 1500px) {
      width: 70%;
      max-width: 900px;

      height: $ATypesMargin;
      max-height: 120px;

      padding: 2% 0% 2% 2%;

      top: min(calc(22% - min(20%, 120px)), calc(22% - 100px));
      left: 0;
    }

    span {
      width: 100%;
      height: 10%;

      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;

      position: relative;

      label {
        font-family: "Cormorant SC", serif;
        font-weight: 600;
        margin-left: 5%;

        font-size: 1em;
        padding-left: 8%;
        cursor: pointer;
      }

      input {
        appearance: none;
        padding: 0;
        margin: 0;
      }

      div {
        cursor: pointer;
        width: 1.6em;
        position: absolute;
        left: 0;
        top: 50%;

        transform: translate(-25%, -50%);

        @media screen and (max-width: 1500px) {
          left: 20%;
          top: 50%;

          transform: translate(0, -50%);
        }
      }

      @media screen and (max-width: 1500px) {
        padding-left: 10%;
        width: 50%;
        height: 50%;
      }
    }

    span + span {
      margin-top: 15%;
      @media screen and (max-width: 1500px) {
        margin-top: 0;
      }
    }
  }
}
